<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IntraCityService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9D2D22D1D9E034B0081CBCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D2D2461D9E034B0081CBCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9D2D2511D9E034B0081CBCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
